<div class="search-bar-container">
  <div class="search-bar">
    <input type="text" placeholder="Search" [formControl]="query" id="search-input">
  </div>
  <div *ngIf="query.value"> 
  <div *ngIf="products$| async as products" class="items-list">
    <div *ngFor="let product of products" class="item" [routerLink]="'/product-details/' + product.category.name + '/' + product.subcategory.name +'/' + product.name" routerLinkActive="active">
        <img src="{{product.image}}" alt="image" class="item-image">
        <h3 class="item-name">{{product.name}}</h3>
    </div>
  </div>
  </div>
</div>
